<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/qbitlogic/qbitlogic.css">
  <script src="table.js"></script>

  <style>
    #people th,
    #people td {
      white-space: nowrap;
    }
  </style>
</head>

<body ng-app="app">

  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p class="lead">This is a great way to implement <a href="http://bootsnipp.com/snippets/featured/panel-table-with-filters-per-column" target="_blank">column filters</a>.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">

        <div class="table-responsive" ng-controller="tableCtrl">
          <table id="people" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th ng-repeat="c in columns">{{ c }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in people">
                <td>{{ p.first }}</td>
                <td>{{ p.last }}</td>
                <td>{{ p.school }}</td>
                <td>{{ p.major }}</td>
                <td>{{ p.gpa }}</td>
                <td>{{ p.role }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.phone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-2 col-md-offset-1">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
