<div class="footer">
  <p>
    <a href="https://github.com/jennpeare" target="_blank"><span class="flaticon-github7"></span></a>
    <a href="http://instagram.com/jennpeare" target="_blank"><span class="flaticon-instagram13"></span></a>
    <a href="https://www.linkedin.com/in/jingfeishi" target="_blank"><span class="flaticon-linkedin2"></span></a>
    <a href="https://pinterest.com/jennpeare" target="_blank"><span class="flaticon-pinterest11"></span></a>
    <a href="http://jennpeare.tumblr.com/" target="_blank"><span class="flaticon-tumblr7"></span></a>
    <a href="https://twitter.com/jennpeare" target="_blank"><span class="flaticon-twitter12"></span></a>
  </p>
  <p>&copy; {{ site.time | date: "%Y" }} Jenny Shi</p>
</div>
