/*
Flaticon icon font: Flaticon
Creation date: 15/05/2016 05:26
*/

@font-face {
  font-family: "Flaticon";
  src: url("qbitlogic.eot");
  src: url("qbitlogic.eot?#iefix") format("embedded-opentype"),
  url("qbitlogic.woff") format("woff"),
  url("qbitlogic.ttf") format("truetype"),
  url("qbitlogic.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("qbitlogic.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"],
[class*=" flaticon-"] {
  font-family: Flaticon;
  font-size: normal;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-analysis:before { content: "\f100"; }
.flaticon-learning:before { content: "\f101"; }
.flaticon-management:before { content: "\f102"; }
.flaticon-mining:before { content: "\f103"; }
.flaticon-quantum:before { content: "\f104"; }
.flaticon-repair:before { content: "\f105"; }
